.detail {
    display: flex;
}

.statusRow {
    width: 100%;
    display: flex;
}

.diagramRow {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.detailRow {
    display: flex;
    align-items: center;
}

.detailRowPosition {
    margin-left: 10px;
}

.detailRowComment {
    margin-left: 10px;
}

/*LanguageList*/
.positions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.language-position {
    left: 0;
    margin-right: 10px;
}

.language-count {
    right: 0;
    float: right;
}

.language {
    text-align: left;
}

/*Sources*/

.source {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sourceTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sourceLogo {
    margin-right: 10px;
}

/*Commment*/

.comment {
    display: flex;
    flex-direction: column;
}

/*Vacancy*/
.vacancy {
    text-align: left;
    width: 30%;
    display: flex;
    flex-direction: column;
}

/*Diagram*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.called:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid aquamarine;
    width: 0;
}

.invited:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid blue;
    width: 0;
}

.pending:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid green;
    width: 0;
}

.rejected:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid red;
    width: 0;
}

.applied:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid yellow;
    width: 0;
}

.diagramLabel:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 50px solid white;
    border-right: 20px solid black;
    width: 0;
}

.called .diagramLabel:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid black;
    border-right: 20px solid aquamarine;
    width: 0;
}

.invited .diagramLabel:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid black;
    border-right: 20px solid blue;
    width: 0;
}

.pending .diagramLabel:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid black;
    border-right: 20px solid green;
    width: 0;
}

.rejected .diagramLabel:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid black;
    border-right: 20px solid red;
    width: 0;
}

.applied .diagramLabel:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 50px solid black;
    border-right: 20px solid yellow;
    width: 0;
}

.called {
    position: relative;
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.invited {
    position: relative;
    width: 90%;
    height: 50px;
    background: blue;
}

.pending {
    position: relative;
    width: 80%;
    height: 50px;
    background: green;
}

.rejected {
    position: relative;
    width: 70%;
    height: 50px;
    background: red;
}

.applied {
    position: relative;
    width: 62%;
    height: 50px;
    background: yellow;
}

.diagramLabel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
    float: left;
    text-align: center;
    height: 100%;
    width: 200px;
    background: #000;
    color: #fff;
}

.diagramValue {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}