.header {
    width: 81%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.logo-icon {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 2em;
}
.nav {
    display: flex;
}
.nav li {
    list-style: none;
    margin-left: 40px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
a {
    text-decoration: none;
    color: #000;
}
.nav li:hover {
    border-bottom: 2px solid #018be4;
}
img {
    width: 25px;
}
.triangle {
    color: #018be4;
    font-size: 1em;
}