.header {
    width: 81%;
    height: 100px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.logo-icon {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 2em;
}
.nav {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav li {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    outline: none;
}
.nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    height: 100%;
    outline: none;
    padding-top: 10px;
}
.nav li:hover {
    border-bottom: 2px solid #018be4;
}
img {
    width: 25px;
}
.triangle {
    color: #018be4;
    font-size: 1em;
}
.currentTab {
    border-bottom: 2px solid #018be4;
}