.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  border-radius: 20px 0 0 20px;
}
.last {
  border-radius: 0 20px 20px 0;
}
.active {
  background: #dddddd;
}
.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  list-style: none;
  width: 40px;
  height: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.pagination li a {
  color: #8c8787;
}
.active a {
  color: #018be4 !important;
  font-weight: bold;
}
.pagination li:hover {
  background: #dddddd;
  cursor: pointer;
}
.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
span {
  font-weight: normal;
  font-size: 20px;
}
