.filters {
    width: 80%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}
.profile {
    color: #018be4;
}
.MuiFormControl-root select {
    width: 120px;
}