/* .Chart {
    width: 25%;
    height: 25%;
    background: lightblue;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    z-index: -1;
  } */